<div class="container">
  <h1>Add new product</h1>
  <form [formGroup]="productForm">
    <mat-form-field class="form-header">
      <mat-label>Name</mat-label>
      <input matInput placeholder="" formControlName="name" require />
    </mat-form-field>
    <mat-form-field class="form-header">
      <mat-label>Code</mat-label>
      <input matInput placeholder="" formControlName="code" require />
    </mat-form-field>
    <mat-form-field class="form-header">
      <mat-label>Price</mat-label>
      <input matInput placeholder="" formControlName="price" require />
    </mat-form-field>
    <mat-form-field class="form-header">
      <mat-label>Quantity</mat-label>
      <input matInput placeholder="" formControlName="quantity" require />
    </mat-form-field>
    <mat-form-field class="form-header">
      <mat-label>Category</mat-label>
      <input matInput placeholder="" formControlName="category" require />
    </mat-form-field>
    <br>
    <button type="submit" class="btn btn-success" [disabled]="!productForm.valid"(click)="saveAndGotoList()">
      Save
      <span *ngIf="id === 0">and back</span>
    </button>
    &nbsp;
    <span *ngIf="id === 0">
      <button type="submit" class="btn btn-success" [disabled]="!productForm.valid" (click)="save()">
        Save and new
      </button>
    </span>
  </form>
</div>