.student {
    color: red;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#customers tr:nth-child(even){background-color: #f2f2f2;}
  
#customers tr:hover {background-color: #ddd;}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}